<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Zivotopis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Extern links for bootstrap & fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    <link rel="stylesheet" href="../../../../css/style.css">

</head>
<body>


    <!-- Bootstrap hamburger nav menu -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">Přehled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">O mě</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- HERO header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="intro-text">
                    <h1>Životopis</h1>
                    <p>Lukáš Semorád</p>
                    <p id="test-browser">Testováno v Google Chrome</p>
                </div>

            </div>
        </div>
    </header>


    <!-- Button for changing background color -->
    <div class="text-center menu-item-name" style="margin-bottom: 50px;pointer-events: auto;">
        <div class="button" id="button-7" onclick="darkTheme()">
            <div id="bg-change"> Změnit pozadí</div>
        </div>
    </div>

    <script>
        function darkTheme() {
            let bg = document.body;
            bg.classList.toggle("dark-mode");
        }
    </script>


    <!-- Fetures - Three cols in row -->
    <div id="features" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Škola</h3>
                        <img src="../../../../img/college.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Etiam neque. Nullam sapien sem, ornare ac, nonummy non,
                            lobortis a enim. Morbi imperdiet mauris ac.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Vzdělání</h3>
                        <img src="../../../../img/diploma.png" alt="">
                        <p>
                            Maecenas sollicitudin. Fusce tellus. Proin in tellus sit amet
                            nibh dignissim sagittis. Ut enim ad minima veniam, quis no
                            strum exercitationem ullam corporis suscipit laboriosam.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="features-item">
                        <h3>Zkušenosti</h3>
                        <img src="../../../../img/cv_papers.png" alt="">
                        <p>
                            Praesent in mauris eu tortor porttitor accumsan.
                            Nam sed tellus id magna elementum tincidunt. In rutrum.
                            Nunc tincidunt ante vitae massa. Nam quis nulla.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Who am I section -->
    <div id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 about-img"> </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                    <section class="about-text">
                        <div class="section-title">
                            <h2>Kdo jsem</h2>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, <strong> autem vel eum</strong>
                            consectetuer adipiscing elit.
                            Etiam neque. Nullam sapien sem, ornare ac, nonummy non,
                            lobortis a enim. Morbi imperdiet, mauris ac auctor dictum,
                            nisl ligula egestas nulla
                        </p>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi
                            tempora incidunt ut <strong>labore et dolore</strong> magnam aliquam quaerat
                            voluptatem. Curabitur ligula sapien, pulvinar a vestibulum
                            quis, facilisis vel
                        </p>

                        <p>
                            Nulla non lectus sed nisl molestie malesuada.
                            Nunc dapibus tortor vel mi dapibus sollicitudin.
                            Nunc tincidunt ante vitae massa.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <!-- brrrrrrrrr -->
    <br>
    <br>
    <br>


    <!-- Contact  (quite a lazy made section - TODO)-->
    <div id="contact" class="text-center">
        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <h3>Kontakt</h3>
                    <div class="contact-item">
                        <p>
                            <i class="fas fa-at" style="font-size: 18px;color:#8eb640">&nbsp;</i> <a class="contact" style="cursor: pointer;" href="#">semorad.lukas@gmail.com</a>
                        </p>
                        <p>
                            <i class="fas fa-phone" style="font-size: 18px;color:#8eb640">&nbsp;</i> <a class="contact" style="cursor: pointer;" href="#">720 321 123</a>
                        </p>
                        <p>
                            <a style="margin-right: 5px;" href="#" target="blank"><i class="fab fa-instagram" style="font-size: 24px;color:#8eb640"></i></a>
                            <a style="margin-right: 5px;" href="#" target="blank"><i class="fab fa-facebook" style="font-size: 24px;color:#8eb640"></i></a>
                            <a href="#" ><i class="fab fa-youtube" style="font-size: 24px;color:#8eb640"></i></a>
                        </p>
                    </div>
                    <br>
                </div>

                <div class="col-md-4">
                    <h3>Adresa</h3>
                    <div class="contact-item">
                        <p>Lorem ipsum</p>
                        <p>Lorem ipsum 123</p>
                        <p>Maecenas aliquet 123 56</p>
                    </div>
                    <br>
                </div>

            </div>
        </div>

        <div class="container text-center">
            <div class="section-title text-center">
                <h3>Kontaktujte mě přímo</h3>
            </div>

            <div class="col-8 mx-auto">
                <form action="/index#contact" method="post" id="contactForm">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Jméno" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="msg" id="message" class="form-control" rows="4" placeholder="Zpráva"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-custom btn-lg">Odeslat zprávu</button>
                </form>
            </div>

            <br><br>

            <div class="response col-8 mx-auto" th:if="${name}" >
                <p th:text="'Zdravím ' + ${name} + ' s emailem ' + ${email} +'. '+ ${available}"></p>
                <br>
                <p th:text="'Dotazováno: ' + ${counter} +' krát'"></p>
            </div>

        </div>
    </div>


    <!-- Footer is mandatory (: -->
    <div id="footer">
        <div class="container text-center">
            <div class="col-md-12">
                <p>&copy; 2021 Created by Lukáš Semorád / st52557</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>


</body>
</html>


